* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

@import "vars";

body {
    background-color: #08101e;
}

.header {
    background-color: #0a121f;
    height: 100px;
}

.header__menu {
    display: flex;
    justify-content: center;
}

.container {
    width: 1146px;
    margin: 0 auto;
}

.menu__link {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    padding: 40px 20px;
}

.menu__link:hover {
    border-radius: 10px;
}

.top__left {
    width: 604px;
}

.top__heading {
    @include txt(('Open Sans', sans-serif), normal, 600, 18px, 160%, #3A68B8);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.top__title {
    @include txt(('Open Sans', sans-serif), normal, 800, 55px, 130%, #FFFFFF);
    margin-bottom: 40px;
}

.top__text {
    @include txt(('Open Sans', sans-serif), normal, 600, 18px, 160%, #FFFFFF);
    opacity: 0.7;
    margin-bottom: 50px;
}

.button {
    background: $button-color;
    border-radius: 5px;
    padding: 15px 30px;

    &_hover:hover {
        background: $button-color-hover;
        color: $button-txt-color-hover;
    }
}

// .top__button {
//     gap: 10px;
//     @include txt(('Open Sans', sans-serif), normal, 600, 20px, 27px, #FFFFFF);
// }

.top {
    background-color: #0a121f;
    padding-bottom: 99px;
    padding-top: 160px;

    &__button {
        gap: 10px;
        @include txt(('Open Sans', sans-serif), normal, 600, 20px, 27px, #FFFFFF);
    }
}

// .top__button:hover {
//     background: $button-color-hover;
//     color: $button-txt-color-hover;
// }

.top__logos {
    margin-top: 200px;
}

.flexbox {
    display: flex;
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.info {
    margin-top: 157px;
    margin-bottom: 264px;

    &__button {
        @include txt(('Open Sans', sans-serif), normal, 600, 16px, 22px, #FFFFFF)
    }
}


.info__right {
    width: 484px;
}

.info__heading {
    @include txt(('Open Sans', sans-serif), normal, 700, 40px, 130%, #FFFFFF);
    margin-bottom: 30px;
}

.info__text {
    @include txt(('Open Sans', sans-serif), normal, 600, 16px, 160%, #FFFFFF);
    opacity: 0.7;
    margin-bottom: 50px;
}

// .info__button {
//     @include txt(('Open Sans', sans-serif), normal, 600, 16px, 22px, #FFFFFF);
// }

// .info__button:hover {
//     background-color: $button-color-hover;
//     color: $button-txt-color-hover;
// }

.content__heading {
    @include txt(('Open Sans', sans-serif), normal, 700, 25px, 125%, #FFFFFF);
    text-align: center;
    opacity: 0.7;
    margin-top: 30px;
    margin-bottom: 30px;
}

.h__big {
    margin-top: 60px;
    margin-bottom: 60px;
}

.content__text {
    @include txt(('Open Sans', sans-serif), normal, 600, 16px, 160%, #FFFFFF);
    text-align: center;
    opacity: 0.7;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #132035;
    border-radius: 10px;
    padding: 30px;
}

.small {
    width: 362px;
}

.big {
    width: 754px;
}

.content__bottom {
    margin-top: 30px;
}

.top {
    margin-bottom: 30px;
}

.big__img {
    width: 306px;
}

.content {
    margin-bottom: 243px;
}

.about {
    margin-bottom: 221px;
}

.about__left {
    width: 548px;
}

.about__heading {
    @include txt(('Open Sans', sans-serif), normal, 700, 40px, 130%, #FFFFFF);
    margin-bottom: 40px;
}

.about__text {
    @include txt(('Open Sans', sans-serif), normal, 600, 16px, 160%, #FFFFFF);
    opacity: 0.7;
    width: 460px;
    margin-bottom: 20px;
}

.footer {
    background-color: #0a121f;
    height: 250px;
    padding-top: 48px;
    padding-bottom: 47px;
}

.foot__item {
    width: 362px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__heading {
    @include txt(('Roboto', sans-serif), normal, 500, 16px, 19px, #FFFFFF);
}

.footer__text {
    @include txt(('Roboto', sans-serif), normal, 500, 14px, 16px, #FFFFFF);
}

.center__text {
    @include txt(('Roboto', sans-serif), italic, 100, 14px, 16px, #FFFFFF);
    opacity: 0.6;
    width: 261px;
}

.fi {
    height: 156px;
}